[submodule ".vim"]
	path = .vim
	url = https://github.com/mgreystone/.vim.git
[submodule ".config/zsh-git-prompt"]
	path = .config/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".config/dircolors-solarized"]
	path = .config/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
